#borderPane {
    -fx-background-color: white;
}

.parentPane {
    -fx-border-color: gray;
    -fx-border-radius: 7px;
    -fx-border-width: 1px;
    -fx-background-color: #f8f8f8;
}

.clockPane{
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-font-family: Helvetica, Arial, sans-serif;
}